@model English_Idioms.Models.Idioms

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Idioms</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idiom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idiom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.definition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.definition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Example)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Example)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
